---
import Layout from "../layout/layout.astro";
import CardSection from "../components/CardSection.astro";

export async function getStaticPaths() {
  const categoriesUrl = "https://kea-alt-del.dk/t7/api/categories";
  const subcategoriesUrl = "https://kea-alt-del.dk/t7/api/subcategories";
  const seasonsUrl = "https://kea-alt-del.dk/t7/api/seasons";

  const [categories, subcategories, seasons] = await Promise.all([
    fetch(categoriesUrl).then((res) => res.json()),
    fetch(subcategoriesUrl).then((res) => res.json()),
    fetch(seasonsUrl).then((res) => res.json()),
  ]);

  const categoryPaths = categories.map((category) => ({
    params: {
      kategori: category.category,
    },
  }));

  const subcategoryPaths = subcategories.map((subcategory) => ({
    params: {
      kategori: subcategory.subcategory,
    },
  }));

  const seasonPaths = seasons.map((season) => ({
    params: {
      kategori: season.season,
    },
  }));

  return [...categoryPaths, ...subcategoryPaths, ...seasonPaths];
}

const { kategori } = Astro.params;
const menu = Astro.url.searchParams.get("menu") || "Categories";

function prodkat(menu: string) {
  const menuMap = {
    Categories: "category",
    Subcategories: "subcategory",
    Seasons: "season",
  };
  return menuMap[menu] || "category";
}

const prodKat = prodkat(menu);

const fashionUrl = `https://kea-alt-del.dk/t7/api/products?limit=100&${prodKat}=${kategori}`;
const data = await fetch(fashionUrl).then((res) => res.json());
---

<Layout titel={kategori}>
  <h2>{kategori}</h2>
  <div class="produktliste">
    {data.map((product) => <CardSection product={product} />)}
  </div>
</Layout>
