---
import Layout from "../layout/layout.astro";
import CardSection from "../components/Card.astro";

export async function getStaticPaths() {
  // Hent kategorier fra API'et
  const categoriesUrl = "https://kea-alt-del.dk/t7/api/categories";
  const subcategoriesUrl = "https://kea-alt-del.dk/t7/api/subcategories";
  const seasonsUrl = "https://kea-alt-del.dk/t7/api/seasons";

  const [categories, subcategories, seasons] = await Promise.all([
    fetch(categoriesUrl).then((res) => res.json()),
    fetch(subcategoriesUrl).then((res) => res.json()),
    fetch(seasonsUrl).then((res) => res.json()),
  ]);

  // Opret stier for hver kategori, underkategori og sæson
  const categoryPaths = categories.map((category) => ({
    params: {
      menu: "Categories",
      kategori: category.category,
    },
  }));

  const subcategoryPaths = subcategories.map((subcategory) => ({
    params: {
      menu: "Subcategories",
      kategori: subcategory.subcategory,
    },
  }));

  const seasonPaths = seasons.map((season) => ({
    params: {
      menu: "Seasons",
      kategori: season.season,
    },
  }));

  // Kombiner alle stier
  return [...categoryPaths, ...subcategoryPaths, ...seasonPaths];
}

// Hent den specifikke produktId fra ruten
const { kategori } = Astro.params;
const { menu } = Astro.params;

function prodkat(menu) {
  if (menu === "Categories") {
    return "category";
  } else if (menu === "Subcategories") {
    return "subcategory";
  } else if (menu === "Seasons") {
    return "season";
  } else {
    return "category"; // Hvis ingen match findes
  }
}
const prodKat = prodkat(menu);

// Hent det specifikke produkts data
const fashionUrl = `https://kea-alt-del.dk/t7/api/products?limit=100&${prodKat}=${kategori}`;
const data = await fetch(fashionUrl).then((res) => res.json());
---

<Layout titel={kategori}>
  <h2>{kategori}</h2>
  <div class="produktliste">
    {data.map((product) => <CardSection product={product} />)}
  </div>
</Layout>
