---
import Layout from "../layout/layout.astro";

const menu = Astro.url.searchParams.get("menu") || "Categories";
console.log("menu;", menu);

function menukat(menu) {
  if (menu === "Categories") {
    return "category";
  } else if (menu === "Subcategories") {
    return "subcategory";
  } else if (menu === "Seasons") {
    return "season";
  } else {
    return "category"; // Hvis ingen match findes
  }
}

const kategoriNavn = menukat(menu);
console.log("kategoriNavn;", kategoriNavn);
const fashionUrl = `https://kea-alt-del.dk/t7/api/${menu}`;
const data = await fetch(fashionUrl).then((res) => res.json());
---

<Layout titel={menu}>
  <div class="katliste">
    <h2>{menu}</h2>
    <section class="kategorier">
      {
        data.map((item) => (
          <a href={`/${item[kategoriNavn]}?menu=${menu}`}>
            {item[kategoriNavn]}
          </a>
        ))
      }
    </section>
  </div>
</Layout>
