---
import Layout from "../layout/layout.astro";

export async function getStaticPaths() {
  const menus = ["Categories", "Subcategories", "Seasons"];

  return menus.map((menu) => ({
    params: { menu },
  }));
}

const { menu = "Categories" } = Astro.params;

function menukat(currentMenu: string) {
  const menuMapping = {
    Categories: "category",
    Subcategories: "subcategory",
    Seasons: "season",
  };

  return menuMapping[currentMenu] || "category";
}

const kategoriNavn = menukat(menu);
const fashionUrl = `https://kea-alt-del.dk/t7/api/${menu}`;
const data = await fetch(fashionUrl).then((res) => res.json());
---

<Layout titel={menu}>
  <div class="katliste">
    <h2>{menu}</h2>
    <section class="kategorier">
      {
        data.map((item) => (
          <a href={`/${item[kategoriNavn]}`}>{item[kategoriNavn]}</a>
        ))
      }
    </section>
  </div>
</Layout>
